/*  **********************************  */
/*  **********  /style.css  **********  */
/*  **********************************  */


html {
  
  /*  Accesivilidad  -  Equivalente a 10px  */
  font-size: 62.5%;
  
}


body {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-family: 'DM Sans', sans-serif;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--color-text-body);
}